*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* color: #f0f0f0; */

}

header {
    background-color: #191716;
    /* margin-top: -22px;
    margin-left: -17px;
    margin-right: -18px;
    margin-bottom:-0px;
    padding-top: 20px;
    padding-left:10px;
    padding-right:20px;
    padding-bottom:30px; */
    padding-top: 1rem;
    padding-bottom: 1rem;
    /* margin: 0 auto; */
        color: #f0f0f0;
           border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
     margin-left: 1rem;
    margin-right: 2rem;
    
}
footer {
    background-color: #191716;
    padding-bottom: 1rem;
    /* margin: 0 auto; */
        color: #f0f0f0;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
          margin-left: 1rem;
    margin-right: 2rem;
    
}

body {
    font-size:18px;
    background-color: #440D0F;
    color: #050517;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height:100vh;
    width:100vw;
    display: flex;
    flex-direction:column;
    overflow-x: hidden;
    overflow-y: scroll;
        color: #f0f0f0;
}

a {
    color:#EFCB68;
    text-decoration: none;
}

a:hover {
    color: #00fa70
}

main {
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
    background-color: #CECCCC;
    flex-grow:1;
    padding-bottom: 1rem;
        color: #324148;
}

h2 {
    padding-top: 1rem;
    text-align:center;
    padding-bottom: 1rem;
                color: #324148;

;
}

h3{
    text-align: center;
    padding-top: 1rem;
                color: #324148;

}

ul{
    margin: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
li{
    font-weight: normal;
}

figure{
    text-align:center;
    font-style:italic;
}

@media only screen and (max-width: 700px){
    main {
        /* width:90%; */
        /* height:100%; */
        margin: 0% auto;
        flex-grow: 1;
        padding-bottom: 1rem;
    }
}

@media  only screen and (max-width: 300px){
    main{
        margin: 0 auto;
        /* width: 100%; */
        /* height:100%; */
        flex-grow: 1;
        padding-bottom: 1rem;
    }
}

@media  only screen and (max-width: 1200px){
    main{
        margin: 0 auto;
        /* width: 85%; */
        /* height:100%; */
        flex-grow: 1;
        padding-bottom: 1rem;
    }
}

.center{
    text-align:center;
}
hr {
    color:white;
    background-color:white;
    border:white 1px solid;
    
    margin: 2rem;
}

img{
    width: 80%;
    max-width: 600px;
}
figure{
    width: 100%;

}
.content{
    width: 95%;
    margin: 0 auto;
    max-width: 1100px;
}
.indented{
    margin-left: 10%;
}
.bold{
    font-weight: bold;
}
.italicized{
    font-style: italic;
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}
th, td{
    padding: 8px;
    text-align: left;
}
textarea{
    color: black;
}
input, button{
    color: black;
}
input[type="submit"]{
    display: block;
    background-color: #440D0F;
    color:#CECCCC;
}
pre code{
    color: black;
    
}
button{
  margin-right: 6px;
}
.doubleindent{
  margin-left: 20%;
}
.tripleindent{
  margin-left:30%;
}


  .faq-container {
    width: 100%;
    max-width: 600px;
  }



  .dropdown {
 
    border-radius: 8px;
    margin-bottom: 10px;
    overflow: hidden;
   
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  }

  .dropdown-header {
  
    cursor: pointer;
    padding: 14px 18px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.2s ease;
  }

  .dropdown-header:hover {
    background-color: #eee;
  }

  .dropdown-content {
    max-height: 0;
    overflow: hidden;
    padding: 0 18px;
    transition: max-height 0.3s ease, padding 0.3s ease;
  }

  /* Independent state classes */
  .dropdown-content-open {
    max-height: 300px;
    padding: 14px 18px;
  }

  .arrow {
    transition: transform 0.3s;
  }

  .arrow-rotated {
    transform: rotate(90deg);
  }
form{
    width: 50%;
    margin: 0 auto;
}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  /* padding: 8px 12px; */
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.test1{
    margin-left: 5rem;
    margin-right: 5rem;
    font-size: larger;
}
#myCanvasContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
