<nav>
    <a href="https://webpages.charlotte.edu/aperki41/itis3135">Charlotte Webpage</a>
    ||
    <a href="https://github.com/Monarch5789/Monarch5789.github.io">GitHub</a>
    ||
    <a href="https://Monarch5789.github.io">GitHub.io</a>
    ||
    <a href="https://www.freecodecamp.org/Aidan_Perkins_UNCC">freeCodeCamp</a>
    ||
    <a href="https://www.codecademy.com/profiles/method6501867200">Codecademy</a>
    ||
    <a href="https://www.linkedin.com/in/aidanjperkins/">LinkedIn</a>
</nav>
<p>Page Built By Aidan Perkins &copy;2023</p>

<a href="https://validator.w3.org/check?uri=referer" id="validation_link_html">
    <img style="border:0;width:88px;height:31px" src="https://mytienhoang.github.io/itis3135/z_archives/html_validation.png" alt="Valid HTML!">
</a>

<a href="https://jigsaw.w3.org/css-validator/check/referer" id="validation_link_css">
    <img style="border:0;width:88px;height:31px;" src="https://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!">
</a>

<script>
    document.getElementById("validation_link_html").setAttribute("href","https://validator.w3.org/check?uri=" + location.href);
    document.getElementById("validation_link_css").setAttribute("href","https://jigaw.w3.org/css-validator/validator?uri=" + location.href);
    <button type="button" onclick="document.querySelectorAll('link[rel=stylesheet]').forEach(function(e){e.setAttribute('href','');});">No CSS</button>
</script>
<br>
<button type="button" onclick="document.querySelectorAll('link[rel=stylesheet]').forEach(function(e){e.setAttribute('href','');});">No CSS</button>