
                <h1>Art Portfolio</h1>
                <hr class="white">
                <nav>
                    <a href="index.html">Home</a>
                    ||
                    <a href="gallery.html">Gallery</a>
                    ||
                    <a href="faq.html">Frequently Asked Questions</a>
                    ||
                    <a href="contact.html">Contact</a>
                    ||
                    <a href="about.html">Current Projects</a>
                    
                    
                </nav>                
