<h1> Aidan Perkins' Amazing Penguin || ITIS 3135 </h1>
<h2> </h2>
<nav class="content">
    <a href="./">Home</a>
    ||
    <a href="introduction.html">Introduction</a>
    ||
    <a href="contract.html">Contract</a>
    ||
    <a href="amazingpenguin/index.html">Whimsical Pages</a>
    ||
    <a href="website_evaluations.html">Website Evaluations</a>
    ||
    <a href="fccfsjs_outline.html">FCCFSJS Outline</a>
    ||
    <a href="intro_form.html">BYO Intro</a>
    ||
    <a href="project_overview.html">Client Overview</a>
</nav>
<br>
<nav class="content">
    <a href="goofy/Cr@%20ppy.htm">Crappy</a>
</nav>
